{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-blue-50 relative min-h-screen font-serif leading-normal tracking-normal">
    {% include './Components/header.html' %}

      <section class="pb-16">
        {% block content %}

        {% endblock %}
      </section>

      {% include './Components/footer.html' %}

  </body>
</html>
