{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-[#BDCDD6] relative min-h-screen font-serif leading-normal tracking-normal">
      Posible Font: Montserrat, Quicksand, Cinzel
      {% include './Components/header.html' %}


      <section class="flex flex-col w-3/4 bg-[#F7F5EB] mx-auto my-8 p-8 shadow-lg">
        {% block content %}

        {% endblock %}
      </section>

  </body>
</html>
