
<header class="w-full h-24 z-10 bg-[#93BFCF] shadow-md font-montserrat">
  <div class="flex flex-col w-3/4 mx-auto justify-around items-center px-2 ">
  <a href="/art">
    <h2 class="text-2xl ">Kathy Greve Watercolor</h2>
  </a>
    <div class="flex flex-row w-full justify-between items-center h-16 z-10">
  <a>
      <h3>About</h3>
    </a>
    <a href="/art/events">
      <h3>Events</h3>
    </a>

    <a href="/art/gallery">
        <h3>Gallery</h3>

    </a>
    <a>
      <h3>Contact</h3>
    </a>
  </div>
</header>