<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends '../base.html' %} {% load static tailwind_tags %}
  </head>
  <body>
    {% block content %}
    <div class="pt-16">
      <div>
        <div>
          <h2>{{event.event_name}}</h2>
          <img
            src="{{ event.image.url }}"
            alt="connect"
            class="col-span-1 h-full mat relative"
            style="max-height: 300px"
          />
        </div>

        {% if event %}
        <h2>{{ event.event_name }}</h2>

        {% else %}
        <p>No Event available.</p>
        {% endif %}
      </div>
      {% if manage %}
      <div>
        <button
          onclick="toggleForm()"
          action="/events/{{ image.id }}"
          type="button"
        >
          Edit
        </button>
      </div>
      <div>
        {{ image.id}}
        <form id="edit-event-form" class="hidden" method="post">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="Submit" />
        </form>
      </div>

      {% endif %}
    </div>
    <script>
      //////////// JAVASCRIPT VARIABLES ////////////
      let showForm = false;

      //////////// GET ELEMENTS ////////////
      const form = document.getElementById("edit-event-form");

      //////////// METHODS ////////////
      const toggleForm = () => {
        showForm = !showForm;
        if (showForm) {
          form.classList.remove("hidden");
        } else {
          form.classList.add("hidden");
        }
      };
    </script>
    {% endblock %}
  </body>
</html>
