<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "../base.html" %} {% load static tailwind_tags %}
  </head>
  <body>
    {% block content %}
    <div>{% include '../Components/hero.html' %}</div>
    <div>{% include '../Components/featured_pieces.html'  with featured_images=featured_images title='Featured Pieces' %}</div>
    <div>{% include '../Components/events.html' with events=upcoming_events title='Upcoming Events' %}</div>
    <div>{% include '../Components/events.html' with events=ongoing_events title='Ongoing Events' %}</div>

    {% endblock %}
  </body>
</html>
