<div class="flex flex-col justify-center items-center mt-6">
  <h2 class="text-3xl">{{ title }}</h2>
  <div class="flex flex-row w-full items-center justify-around">
    {% for event in events %}
    <div class="flex flex-col justify-between shadow-lg w-80 h-96 mx-6">
      <h2>{{ event.event_name }}</h2>
      <div>
        <img alt="{{ event.event.name }} promo image" class="object-cover w-full content-center h-72" src="{{ event.image.url}}" />
      </div>
      {% if event.event_start_date %}
      <p>{{event.event_start_date}}</p>
      {% else %} // statements {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
